<section class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__container">
        <h2 class="modal__title">Login</h2>
        <form action="" class="modal__form form">
            <div class="form__item">
                <label for="mail" class="form__item-title">Email</label>
                <input class="form__item-input" id="mail" name="mail" placeholder="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" required>
            </div>
            <div class="form__item">
                <label for="password" class="form__item-title">Password</label>
                <input class="form__item-input" id="password" name="password" type="password" required>
            </div>
            <div class="modal__buttons auth-btn">
                <button class="service-btn__btn service-btn__btn--blue service-btn__btn-register">Register</button>
                <button class="service-btn__btn service-btn__btn--red service-btn__btn-login">Login</button>
            </div>
        </form>
    </div>
</section>