<section class="modal">
  <div class="modal__overlay"></div>
  <div class="modal__container">
    <div class="modal__top">
      <button class="modal__btn icon icon-close modal__btn-close">
      </button>
    </div>

    <div class="modal__message">
      <p>Are you sure you want to remove selected task(s)?</p>
    </div>
    <div class="modal__buttons service-btn">
      <button
        class="service-btn__btn service-btn__btn--blue service-btn__btn-close"
      >Cancel</button>
      <button
        class="service-btn__btn service-btn__btn--red service-btn__btn-login"
      >Remove</button>
    </div>
  </div>
</section>
