{{> header}}
<main class="content reports-page">

       <section class="reports">
        <div class="wrapper">
            <div class="reports__container">
                {{> tab topTabs }}
                <div class="reports__content">
                    <a href="/task-list" class="reports__link-left icon icon-arrow-left" title="Go to Global List"></a>   
                    <div class="reports__graph" id="reportsGraph">
                        
                    </div>
                </div>
                {{> tab bottomTabs }}
            </div>
        </div>
       </section>


    </main>