{{> header }}
<main class="content settings-page">

    <section class="settings">
        <div class="wrapper">
            {{> tab }}
            <div class="settings__container">
                <h2 class="settings__title">Categories list overview</h2>
                <ul class="settings__options setting-list">
                    <li class="setting-list__item setting-list__item--work">
                        Work
                    </li>
                    <li class="setting-list__item setting-list__item--education">
                        Education
                    </li>
                    <li class="setting-list__item setting-list__item--other">
                        Other
                    </li>
                    <li class="setting-list__item setting-list__item--sport">
                        Sport
                    </li>
                    <li class="setting-list__item setting-list__item--hobby">
                        Hobby
                    </li>
                </ul>

                <div class="settings__buttons setting-list__btn service-btn service-btn--single">
                    <button class="service-btn__btn service-btn__btn--blue settings__buttons-skip">Go to Tasks</button>
                </div>
            </div>
        </div>
    </section>

</main>