<section class="message">
    <div class="message__container">
        <img src="../../images/tomato-addv02.svg" alt="Logo" class="message__img">
        <div class="message__text message__text--bottom-margin">
            <p>Add your first task
            </p>
        </div>
    </div>
</section>