<section class="message message--exelent">
    <div class="message__container">
        <div class="message__text message__text--bottom-margin">
            <p>Excellent,
                all daily tasks done :)
            </p>
        </div>
    </div>
</section>