{{> header }}
    <main class="content task-list-page">
        <section class="first-message message">
            <div class="wrapper">
                <div class="message__container">
                    <img src="../../images/tomato_settings.svg" alt="Logo" class="message__img">
                    <div class="message__text message__text--bottom-margin">
                        <p>As you visited site for a first time you can
                            check and customize your default
                            application settings
                        </p>
                    </div>
                    <div class="message__buttons service-btn">
                        <button class="service-btn__btn service-btn__btn--blue message__buttons-skip">Skip</button>
                        <button class="service-btn__btn service-btn__btn--green message__buttons-settings">Go to settings</button>
                    </div>
                </div>
            </div>
        </section>


    </main>
