<section class="message">
    <div class="message__container">
        <img src="../../images/tomato_settings.svg" alt="Logo" class="message__img">
        <div class="message__text message__text--bottom-margin">
            <p>You don’t have any tasks left. Add new tasks to stay productive.
            </p>
        </div>
    </div>
</section>