<section class="message message--added-message">
    <div class="message__container">
        <div class="message__text">
            <p>Task added,</p>
            <p>Go it to the top 5 in daily task list</p>
            <span class="message__icon icon icon-arrow-top"></span>
        </div>
    </div>
</section>