<div class="notification notification--{{type}}">
    <div class="notification__container">
        <div class="notification__icon-wrap">
            <span class="icon notification__icon"></span>
        </div>
        <div class="notification__content">
            <p class="notification__text">{{text}}</p>
        </div>
        <button class="notification__btn icon icon-close notification--close"></button>
    </div>
</div>